@using Handyman.Data.Entities
@model IEnumerable<Appointment>

<table class="table">
    <thead>
        <tr>
            <th>Appointment ID</th>
            <th>Person Name</th>
            <th>Address</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Service</th>
            <th>Cost</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Id</td>
                <td>@appointment.PersonName</td>
                <td>@appointment.Address</td>
                <td>@appointment.AppointmentDate.ToString("yyyy-MM-dd")</td>
                <td>@appointment.AppointmentTime.ToString(@"hh\:mm")</td>
                <td>@appointment.Status</td>
               @*  <td>@appointment.Service.Name</td> *@
                @* <td>@appointment.Cost?.ToString("C")</td> *@
                <td>@appointment.notes</td>
            </tr>
        }
    </tbody>
</table>
