@model IEnumerable<Handyman.Data.Entities.Appointment>


<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Appointment">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="ServiceProviders">Service Providers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Reports">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Service">Services</a>
                </li>
              </ul>
        </div>
     </div>
</nav>

<h2>All Appointments</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th></th>
                <th>Service</th>
                <th>Service Date</th>
                <th>Status</th>
                <th>Urgent</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
            {
                <tr>
                    <td>@appointment.CustomerId</td>
                    <td></td>
                    <td>@appointment.ServiceId</td>
                    <td>@appointment.ServiceDateTime.ToString("g")</td>
                    <td>@appointment.Status</td>
                    <td>@appointment.Urgent</td>
                    <td>@appointment.Location</td>
                </tr>
            }
        </tbody>
    </table>
</div>
